@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-weight: 600;
}

.button {
  background-color: rgba(0, 153, 221, 0.62);
  border-radius: 3px;
  border: 0;
  padding: 6px 24px;
  color: #fff;
}

#collapse-btn {
  height: 2rem;
  width: 2rem;
  background-color: #00205C;
  border: 0;
  border-radius: 50%;
}

#blue-btn {
  text-align: center;
  background-color: rgba(0, 153, 221, 0.08);
  border: #0099DD solid 2px;
  color: #0099DD;
}

#main-nav {
  position: fixed;
  width: 16rem;
  z-index: 1;
  background-color: #00205C;
  transition: width 0.3s;
  height: calc(100vh - 5rem);
}
#main-nav .main-nav-header {
  position: absolute;
  right: -1rem;
  top: 50%;
  width: 2rem;
}
#main-nav .main-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
#main-nav .main-nav-menu hr {
  margin: 1rem;
  color: #fff;
}
#main-nav .main-nav-menu li {
  padding: 8px;
}
#main-nav .main-nav-menu li a {
  display: block;
  text-decoration: none;
  color: white;
}
#main-nav .main-nav-menu li:hover {
  background-color: rgba(0, 153, 221, 0.62);
}
#main-nav .main-nav-menu li.active {
  background-color: rgba(0, 153, 221, 0.62);
}
#main-nav .menu-footer a {
  text-decoration: none;
}

.collapsed {
  width: 50px !important;
}
.collapsed .text {
  display: none;
}

.navbar {
  position: sticky;
  background-color: white;
  top: 0;
  height: 5rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 0 6px 32px;
}
.navbar .navbar-brand {
  font-size: 38px;
  color: #00205C;
}
.navbar ul {
  font-size: 12px;
  align-items: center;
  margin-right: 2rem;
}
.navbar ul.position-absolute {
  left: 0;
}
.navbar ul li > a .position-absolute {
  right: 4px;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-weight: 600;
}

#container {
  margin-left: 28rem;
  width: 100%;
  height: 100%;
  gap: 0 !important;
}

.filter {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.filter p {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.filter .caption {
  font-size: 12px;
  font-weight: normal;
  color: #464A53;
}
.filter .filter-grp .dropdown a {
  font-size: 12px;
}

.content {
  background-color: #fff;
  border: 1px solid #DDDFE1;
}

.card-container {
  overflow-y: auto;
  z-index: -1;
  margin-left: 28rem;
}
.card-container .row {
  padding-bottom: 2rem;
}

.timeline .card-container .content {
  height: 60vh;
  background-color: #fff;
  border: 1px solid #DDDFE1;
}

#secondary-nav {
  position: fixed;
  width: 12rem;
  height: 100vh;
  background-color: white;
  transition: width 0.3s;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.493);
  margin-left: 16rem;
}

.secondary-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.secondary-nav-menu li {
  padding: 8px;
}
.secondary-nav-menu li a {
  display: block;
  text-decoration: none;
  color: #00205C;
}
.secondary-nav-menu li:hover {
  background-color: #00205C;
}
.secondary-nav-menu li:hover a {
  color: #fff;
  background-color: #00205C;
}
.secondary-nav-menu li.active {
  background-color: #00205C;
}
.secondary-nav-menu li.active a {
  color: #fff;
}

#right-nav {
  width: 24rem;
  z-index: 1;
  float: right;
  height: calc(100vh - 5rem);
  background-color: white;
  transition: width 0.3s;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.493);
  position: relative;
}
#right-nav .right-nav-header {
  position: absolute;
  left: -1rem;
  top: 50%;
}
#right-nav .right-nav-header #right-collapse-btn {
  border-radius: 50%;
  border-style: none;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.493);
  background-color: #fff;
}

.right-nav-menu {
  padding: 0;
  margin: 0;
  height: calc(100% - 5rem);
}
.right-nav-menu .text-white {
  padding: 10px;
  background-color: #00205C;
}
.right-nav-menu .text-white a {
  display: block;
  text-decoration: none;
}

.rightcollapsed {
  width: 50px !important;
}
.rightcollapsed .text {
  display: none;
}

.margin-left-4rem {
  margin-left: 48px !important;
}

.position-fixed {
  position: fixed;
}

.margin-left-16rem {
  margin-left: 16rem !important;
}

/*  _card.scss */
h1 {
  font-size: 2em;
  text-align: center;
}

.card {
  font-size: 9px;
  border-radius: 0;
  overflow: hidden;
}
.card .card-title {
  font-weight: bold;
  font-size: 15px;
}
.card .card-title::after {
  content: "";
  display: block;
  border-top: 1px solid #DDDFE1;
}
.card .card-heading {
  font-weight: bold;
  font-size: 15px;
}
.card .card-heading::after {
  content: "";
  display: block;
}
.card p {
  margin-bottom: 0;
  font-size: 12px;
}
.card .table-card {
  width: 100%;
  border: 2px solid #DDDFE1;
}
.card .table-card caption {
  text-align: center;
  text-transform: uppercase;
  color: #464A53;
}
.card .table-card tbody tr {
  border-bottom: 2px solid #DDDFE1;
  color: #464A53;
  background-color: #F7F8FA;
}
.card .table-card tbody tr td {
  border: 4px solid #fff;
  width: 8rem;
}
.card .table-card tbody tr td:nth-child(2n) {
  color: rgba(0, 153, 221, 0.62);
  width: 2rem;
}

@media (min-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .container > * + * {
    margin-top: 0;
  }
}
body {
  background-color: #F7F8FA;
}

.table-calendar {
  width: 100%;
  border: 1px solid #DDDFE1;
}
.table-calendar caption {
  font-size: 12px;
  text-transform: uppercase;
  color: #464A53;
}
.table-calendar thead th {
  font-size: 12px;
  background-color: #fff;
  color: #464A53;
  padding: 10px;
}
.table-calendar tbody tr {
  border-bottom: 1px solid #DDDFE1;
  color: #464A53;
}
.table-calendar tbody tr td {
  padding: 20px;
}
.table-calendar tbody tr th {
  padding-left: 10px;
  border: 1px solid #DDDFE1;
}
.table-calendar tbody tr:nth-child(2n) {
  background-color: #fffafa;
}
.table-calendar tfoot {
  color: #464A53;
  font-style: italic;
}
.table-calendar tfoot tr td {
  padding: 10px;
}
